
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
/*variables*/
:root{
    --negro:#222222;
    --blanco: #F3F3F3;
    --rojo:#D01418;
    --gold:#FFD700;
}

@keyframes animation{
    0%{opacity: 0%;}
    30%{ transform: scale(2); opacity: 100%; }
    100%{opacity: 0%;}
}

button{
    color: var(--blanco);
    background-color: var(--rojo);
    font-size: 1em;
    padding: 1em;
    border: none;
    width: 10em;
    border-radius: 0.5rem;
}

button:hover{
    background-color: var(--gold);
    color: var(--negro);
}

h1{
    color: var(--blanco);
    padding: 3em;
}

span{
    color: var(--rojo);
    animation-name: animation;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-direction: normal;
}



header{
    padding: 1em;
    background-color: var(--negro) ;
    display: flex;
    justify-content: space-between;
}

header section {
    display: flex;
    color:var(--blanco) ;
    justify-content: space-around;
    align-items: center;
}


header img{
    padding: 0.5em;
}

header a{
    color: var(--blanco);
    margin: 0.5em;
}

.slide{
    background-image: url(../img/img\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 30em;
}

.slide, button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product, h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.card{
    display: flex;
    justify-content: space-around;
}